:root {
    --bold-font-family: "Poppins-Bold", Helvetica;
    --bold-font-size: 16px;
    --bold-font-weight: 700;
    --bold-letter-spacing: 0px;
    --bold-line-height: 24px;

    --primary-color: #111111;
    --secondary-color: #ccc;
    --bg-cards: #999;
}
